body {
  background: linear-gradient(357deg, #646199, #5f559f);
}

.swal2-shown {
  padding: 0 !important;
}

.swal2-popup {
  width: 406px !important;
}

.w3_navigation {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.sign .screen {
  background: linear-gradient(90deg, #5d54a4, #7c78b8);
  position: relative;
  width: 407px;
  height: 467px;
  box-shadow: 0px 0px 24px #242a56;
}

/*-------------------------
--design from content--- 
-------------------------- */

.sign .screen .screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.sign .screen .screen__content .login {
  width: 360px;
  padding: 30px;
  padding-top: 133px;
  padding-left: 41px;
}

.sign .screen .screen__content .login .login__field {
  padding: 20px 0px 0px 18px;
  position: relative;
}

.sign .screen .screen__content .login .login__field .login__icon {
  position: absolute;
  top: 24px;
  font-size: 19px;
  left: -7px;
  color: #7875b5;
}

.sign .screen .screen__content .login .login__field .labelsign {
  animation: labelsign 0.5s;
  position: absolute;
  left: 18px;
  top: 27px;
}

@keyframes labelsign {
  0% {
    top: 58px;
  }
  100% {
    top: 27px;
  }
}

.sign .screen .screen__content .login .login__field .top {
  animation: top 0.5s;
  top: 58px;
}

@keyframes top {
  0% {
    top: 27px;
  }
  100% {
    top: 58px;
  }
}

.sign .screen .screen__content .login .login__field .eye {
  position: absolute;
  right: 15px;
  top: 19px;
  font-size: 24px;
  color: #7875b5;
}

.sign .screen .screen__content .login .login__field .login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding-bottom: 4px;
  padding-left: 0px;
  font-weight: 700;
  width: 86%;
  height: 38px;
  transition: 0.2s;
}

.sign .screen .screen__content .login .login__field .login__input:active,
.sign .screen .screen__content .login .login__field .login__input:focus,
.sign .screen .screen__content .login .login__field .login__input:hover {
  outline: none;
  border-bottom-color: #fcb419;
}

.sign .screen .screen__content .login .login__submit {
  background: #fff;
  font-size: 18px;
  padding: 16px 5px 16px 13px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 57%;
  color: #4c489d;
  box-shadow: 3px 3px 2px #242a56;
  cursor: pointer;
  transition: 0.2s;
  margin: 29px 31px 0 74px;
  align-items: flex-end;
}

.sign .screen .screen__content .login .link {
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 29px;
}

.sign .screen .screen__content .login .signin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  color: #242a56;
  position: absolute;
  bottom: 11px;
  left: 11px;
  transition: 0.5s;
}

.sign .screen .screen__content .login .signin .button__text {
  font-size: 15px;
  text-decoration: underline;
  font-weight: 700;
}

.sign .screen .screen__content .login .signin .icon-chevron-left {
  font-size: 18px;
}

.sign .screen .screen__content .login .signin:hover .button__text {
  font-size: 17px;
}
.sign .screen .screen__content .login .signin:hover .icon-chevron-left {
  font-size: 20px;
}

.sign .screen .screen__content .login .login__submit:active,
.sign .screen .screen__content .login .login__submit:focus,
.sign .screen .screen__content .login .login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.sign .screen .screen__content .login .login__submit .icon-chevron-right {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.sign .screen .screen__content .login .login__submit .icon-chevron-left {
  font-size: 24px;
  margin-right: auto;
  color: #7875b5;
}

/*-------------------------
--design from background--- 
-------------------------- */

.sign .screen .screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}

.sign .screen .screen__background .screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.sign .screen .screen__background .screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 111px;
  border-radius: 0 72px 0 0;
}

.sign .screen .screen__background .screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #242a56;
  top: -150px;
  right: -18px;
  border-radius: 32px;
}

.sign .screen .screen__background .screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #242a56, #6a679e);
  top: -56px;
  right: -53px;
  border-radius: 32px;
}

.sign .screen .screen__background .screen__background__shape4 {
  width: 0;
  height: 0;
  border-left: 82px solid transparent;
  border-right: 92px solid transparent;
  border-top: 81px solid #373b6ac9;
  bottom: -29px;
  right: -79px;
  margin: 2rem;
  transform: rotate(314deg);
  position: absolute;
}

/* ------------------
-----responsive------
------------------ */

@media (max-width: 530px) {
  .sign .screen {
    width: 338px;
    height: 438px;
  }

  .sign .screen .screen__content .login {
    width: 332px;
    padding-left: 31px;
  }

  .sign .screen .screen__content .login .login__field .eye {
    right: 9px;
    top: 23px;
  }

  .sign .screen .screen__content .login .login__submit {
    width: 60%;
    margin: 9px 67px;
  }

  .sign .screen .screen__content .login .signin {
    bottom: 20px;
    left: 4px;
  }

  .sign .screen .screen__background .screen__background__shape1 {
    right: 100px;
  }

  .sign .screen .screen__background .screen__background__shape2 {
    top: -153px;
    right: -35px;
  }

  .sign .screen .screen__background .screen__background__shape3 {
    top: -83px;
    right: -94px;
  }

  .sign .screen .screen__background .screen__background__shape4 {
    border-left: 60px solid transparent;
    border-right: 65px solid transparent;
    border-top: 62px solid #373b6ac9;
    bottom: -32px;
    right: -67px;
  }

  .swal2-popup {
    width: 327px !important;
  }
}
@media (max-width: 410px) {
  .sign .screen {
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    width: 294px;
    height: 402px;
    box-shadow: 0px 0px 24px #242a56;
  }

  .sign .screen .screen__content .login .login__field {
    padding: 13px 0px;
    position: relative;
  }

  .sign .screen .screen__content .login .login__submit {
    width: 74%;
    padding: 15px 11px;
    margin: 11px 19px;
  }

  .sign .screen .screen__content .login {
    width: 299px;
    padding-left: 45px;
    padding-top: 145px;
  }

  .sign .screen .screen__content .login .link {
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 29px;
  }

  .sign .screen .screen__content .login .login__field .labelsign {
    top: 14px;
    left: 0px;
  }

  @keyframes labelsign {
    0% {
      top: 44px;
    }
    100% {
      top: 14px;
    }
  }

  .sign .screen .screen__content .login .login__field .top {
    top: 44px;
  }

  @keyframes top {
    0% {
      top: 14px;
    }
    100% {
      top: 44px;
    }
  }

  .sign .screen .screen__content .login .login__field .login__icon {
    top: 12px;
    font-size: 19px;
    left: -22px;
  }

  .sign .screen .screen__content .login .login__field .eye {
    right: 6px;
    top: 16px;
    font-size: 23px;
  }

  .sign .screen .screen__content .login .signin {
    bottom: 10px;
    left: 8px;
  }

  .sign .screen .screen__background .screen__background__shape1 {
    right: 91px;
  }

  .sign .screen .screen__background .screen__background__shape2 {
    top: -171px;
    right: -23px;
  }

  .sign .screen .screen__background .screen__background__shape3 {
    top: -118px;
    right: -94px;
  }

  .swal2-popup {
    width: 290px !important;
  }

  .swal2-html-container {
    font-size: 1.05em !important;
  }
}

@media (max-width: 346px) {
  .sign .screen .screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 91vh;
  }

  .sign .screen {
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    width: 241px;
    height: 370px;
    box-shadow: 0px 0px 24px #242a56;
  }

  .sign .screen .screen__content .login {
    width: 340px;
    padding: 0;
    padding-top: 138px;
    padding-left: 40px;
  }

  .sign .screen .screen__content .login .login__field {
    padding: 13px 0px 4px;
    position: relative;
  }

  .sign .screen .screen__content .login .login__submit {
    width: 43%;
    margin: 18px -15px;
    font-size: 13px;
  }

  .sign .screen .screen__content .login .link {
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 24px;
  }

  .sign .screen .screen__content .login .login__field .login__input {
    padding: 4px 0px;
    width: 53%;
  }

  .sign .screen .screen__content .login .login__field .labelsign {
    top: 17px;
    left: 0px;
  }

  @keyframes labelsign {
    0% {
      top: 47px;
    }
    100% {
      top: 17px;
    }
  }

  .sign .screen .screen__content .login .login__field .top {
    top: 47px;
  }

  @keyframes top {
    0% {
      top: 17px;
    }
    100% {
      top: 47px;
    }
  }

  .sign .screen .screen__content .login .login__field .login__icon {
    top: 14px;
    font-size: 20px;
    left: -25px;
  }

  .sign .screen .screen__content .login .login__field .eye {
    right: 116px;
    top: 20px;
    font-size: 21px;
  }

  .sign .screen .screen__content .login .login__submit .icon-chevron-right {
    font-size: 22px;
  }

  .sign .screen .screen__content .login .signin .button__text {
    font-size: 13px;
  }

  .sign .screen .screen__content .login .signin .icon-chevron-left {
    font-size: 16px;
  }

  .sign .screen .screen__content .login .signin:hover .button__text {
    font-size: 14px;
  }

  .sign .screen .screen__content .login .signin:hover .icon-chevron-left {
    font-size: 19px;
  }

  .swal2-popup {
    width: 238px !important;
  }

  .swal2-html-container {
    font-size: 0.8em !important;
  }

  .sign .screen .screen__background .screen__background__shape3 {
    top: -141px;
    right: -94px;
    width: 165px;
}
}
