/* -----------------
---footer global----
----------------- */

.footer {
	background-color: #242A56;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 29px 0px 6px;
}

/* -----------------
---logo hotel------
----------------- */

.footer .logo_hotel {
	height: 122px;
	position: relative;
}

.footer .footer_row .logo_hotel img {
	width: 220px;
	position: absolute;
	top: -16px;
}

/* -------------------
---formation hotel ----
-------------------- */

.col {
	grid-area: Company Services Contact follow;
}

.footer .row {
	width: 100%;
	margin: 15px 0px;
	display: grid;
	grid-template-areas: 'Company Services Contact follow';
	gap: 10px;
	justify-content: space-evenly;
}

.footer .row::before {
	display: none;
}

.footer .row .col h4 {
	color: white;
	width: auto;
	font-size: 30px;
	position: relative;
}

.footer .row .col .border-bottom {
	height: 2px;
	background-color: #feb41a;
	display: inline-block;
	border-radius: 5%;
	margin: 0px 0px 11px 3px;
}

.footer .row .col:first-child .border-bottom {
	width: 130px;
}

.footer .row .col:nth-child(2) .border-bottom {
	width: 126px;
}

.footer .row .col:nth-child(3) .border-bottom {
	width: 117px;
}

.footer .row .col:last-child .border-bottom {
	width: 133px;
}

/* Contact */

.footer .row .col ul {
	list-style: none;
	padding: 13px;
}

.footer .row .col ul li {
	padding: 5px;
}

.footer .row .col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.icon-location2:before,
.icon-envelop:before,
.icon-phone-hang-up:before,
.icon-phone:before {
	margin-right: 7px;
}

/* follow us */

.footer .row .col .social-links {
	display: flex;
	justify-content: flex-start;
	margin-top: 36px;
	flex-wrap: nowrap;
	margin-left: 4px;
}

.footer .row .col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer .row .col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/* -----------------
-----Copyright------
----------------- */

.Copyright {
	font-size: 17px;
	color: #ffffffd6;
	border-top: #fdb516 2px solid;
	padding-top: 22px;
	width: 65%;
	margin: 0 auto;
	/* border: blue solid; */
}

.Copyright a {
	color: #ffffffd6;
}

/* ------------------
-----responsive------
------------------ */

/* // 991 px  */

@media(max-width: 991px) {

	.footer {
		padding: 0px 0px 8px;
	}

	.footer .logo_hotel {
		height: 103px;
	}

	.footer .footer_row .logo_hotel img {
		width: 167px;
    left: -76px;
    top: -2px;
	}

	.footer .row {
		/* border: solid wheat;  */
		width: 100%;
		margin:0px;
		display: grid;
		grid-template-areas:
			'Company Services'
			'Contact follow';
		gap: 0px;
		justify-content: space-around;
	}

	.Copyright {
		padding-top: 7px;
	}
}

/* // 881 px  */

@media(max-width: 881px) {

	.footer .logo_hotel {
		height: 66px;
	}

	.footer .footer_row .logo_hotel img {
		left: 2px;
		width: 158px;
		margin-top: -5px;
	}

	.footer .row {
		width: 100%;
		margin: 15px 0px;
		display: grid;
		grid-template-areas:
			'Company Services'
			'Contact follow';
		gap: 0px;
		justify-content: space-around;
	}

	.footer .row .col h4 {
		font-size: 22px;
	}

	.footer .row .col:first-child .border-bottom {
		width: 97px;
	}

	.footer .row .col:nth-child(2) .border-bottom {
		width: 93px;
	}

	.footer .row .col:nth-child(3) .border-bottom {
		width: 82px;
	}

	.footer .row .col:last-child .border-bottom {
		width: 96px;
	}

}

/* // 767 px  */

@media (max-width: 767px) {
	.footer .footer_row .logo_hotel img {
		left: 38px;
		width: 142px;
		margin-top: -5px;
	}
}

/* // 683 px  */

@media (max-width: 683px) {
	.footer .footer_row .logo_hotel img {
		left: 7px;
	}
}

/* // 526 px  */

@media (max-width: 526px) {
	.footer .footer_row .logo_hotel img {
		left: -13px;
	}
}

/* // 465 px  */

@media(max-width: 465px) {

	.footer .footer_row .logo_hotel img {

		width: 122px;
		margin-top: 6px;
		left: 16px;

	}

	.footer .row {
		width: 83%;
		margin: 15px auto;
		display: grid;
		grid-template-areas:
			'Company'
			'Services'
			'Contact'
			'follow';
		gap: 0px;
		justify-content: start;
	}

	.footer .row .col {
		margin-left: 29px;
	}

	.footer .row .col ul {
		list-style: none;
		padding: 5px 0 18px 0;
		margin-left: 24px;
	}

	.footer .row .col .social-links {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		flex-wrap: nowrap;
		margin-left: 4px;
	}

}

/* // 425 px  */

@media(max-width: 425px) {

	.footer .row .col h4 {
		font-size: 23px;
	}

	.footer .row .col:first-child .border-bottom {
		width: 107px;
	}

	.footer .row .col:nth-child(2) .border-bottom {
		width: 99px;
	}

	.footer .row .col:nth-child(3) .border-bottom {
		width: 92px;
	}

	.footer .row .col:last-child .border-bottom {
		width: 106px;
	}
}

/* // 414 px  */

@media(max-width: 414px) {
	.Copyright {
		width: 100%;
	}
}

/* // 350 px  */

@media (max-width: 350px) {

	.footer .logo_hotel {
		height: 36px;
		margin-bottom: 31px;
	}

	.footer .footer_row .logo_hotel img {
		width: 122px;
		margin-top: -2px;
		left: -10px;
	}

	.footer .row .col {
		margin-left: 0;
	}

	.footer .row .col h4 {
		font-size: 20px;
	}

	.footer .row .col:first-child .border-bottom {
		width: 90px;
	}

	.footer .row .col:nth-child(2) .border-bottom {
		width: 84px;
	}

	.footer .row .col:nth-child(3) .border-bottom {
		width: 75px;
	}

	.footer .row .col:last-child .border-bottom {
		width: 88px;
	}
}

/* // 310 px  */

@media (max-width: 310px) {
	.footer .row .col .social-links {
		display: flex;
		justify-content: flex-start;
		margin-top: 6px;
		flex-wrap: nowrap;
		margin-left: 4px;
	}

	.footer .row .col ul {
		padding:0px;
		margin-left: 10px;
	}
}